<div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
        {% if post.thumbnail %}
        <div class="post-img">
            <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h1>
              <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h1>
            {% include post_info.html post=post %}
          </header>
          <div class="excerpt">
              {{ post.excerpt | strip_html | escape }}
          </div>
      </span>
    </div>
    {% endfor %}
</div>
<div id="682741456">
  <script type="text/javascript">
      try {
          window._mNHandle.queue.push(function (){
              window._mNDetails.loadTag("682741456", "728x90", "682741456");
          });
      }
      catch (error) {}
  </script>
</div>

{% include blog_nav.html %}
