.site-footer {
    @extend %padding-regular;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: lighten($text-color, 24%);
    font-size: 0.9em;

    .footer-items {
        ul {
            list-style: none;
            white-space:nowrap;
            li {
                display: inline; 
                padding: 3px;
            }
        }
    }

    .footer-icons {
        ul {
            list-style: none;
            li {
                display: inline;
            }
            a:hover {
                color: darken($link-color, 15%);
            }
        }
    }
}
