h1.title {
    // @extend .header-txt-shadow;
    color: black;
}

.subtitle {
    font-weight: normal;
    margin-top: 5px;
    color: black;
    // text-shadow: 1px 1px 2px $text-shadow;
}

.circular-image-container {
    text-align: center;
    margin-bottom: 45px;
}

.circular-image {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    img {
        padding: 0;
        width: auto;
        height: 100%;
    }
}
//Shared css in _post.scss
